[Unit]
Description=Service for send pub key
After=network.target keysender.socket
Requires=keysender.socket

[Service]
Type=simple
WorkingDirectory=/home/hackathon/
ExecStart=/home/hackathon/keysender.py
TimeoutStopSec=5

[Install]
WantedBy=multi-default.target     
